* {
  margin:0;
  padding:0;
}

body{
  background-image:url(../images/body.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
 #social_networks a{
  padding: 6px;
}

#social_networks{
  background: none;
}

header, .main ,footer {
  width:90%;
  max-width:1000px;
  margin:20px auto;
}
header nav {
  background:#000;
  overflow: hidden;
}
header nav ul{
  list-style:none;
}
header nav ul li{
  float:left;
}
header nav ul li a{
  padding: 10px 20px;
  display:block;
  color:#fff;
  text-decoration:none;
}
header nav ul li a:hover{
  background:#D96FE8;
  color:black;
  font-size:18px;
}
.main .articles{
  width:58.5%;
  margin-right:1.5%;
  float:left;
}
.main .articles article{
  padding:20px;
  background:#fff;
  margin-bottom:20px;
}
aside{
  width:40%;
  background:#ccc;
  float:left;
  border-bottom:: solid black 1px;
  padding:20px;
  box-sizing: border-box;
  border-radius:5%;

}
footer{
  background:#000;
  color:#fff;
  clear:both;
  padding:5px 0px;
  text-align:center;
}

.title h1{
  font-size: 200%;
  display: inline-block;
}

header .title{
  height: 8%;
  width:40%;
  left: 20%;
  background:#fff;
  justify-content: center;
  position: absolute;
  text-align: center;
}

table{
  border:3px solid #000;
  border-collapse:collapse;
}
table tr {
  border:2px solid #000;
}
table tr:hover{
  background:#88D7D5;
}
th, td{
  border:solid 2px black;
  padding:3px;
}
thead{
  background-color:#246355;
  border-bottom: solid 2px #0f362d;
  color:white;
}
tr:nth-child(even){
  background-color:#ddd;
}


aside h3, #our_scorers{
  padding: 10px;
}
h4{
  padding: 7px;
}
#our_scorers{
  color:#000;
  text-align: center;
background: none;
}

p {
  font-style: blacker;
  font-size: 18px;
}
#last_match{
  height: 60%;
  width: 90%;
  padding:1px;
  border: 2px solid #000;
  border-radius: 10%;
}
#scorers_table{
  border:3px solid #000;
  border-collapse:collapse;
  background-color: #fff;
}
#foto_partido{
  width: 100%
}
.conteiner{
  position: relative;
  top: 20px;
  width:100%;
  height:auto;
  margin:auto;
}
.image_list{
  border: solid 2px black;
}
.conteiner .players_list{
  display:inline-flex;
  flex-wrap:wrap;

}
.conteiner .players_list li{
  margin-right: auto;
  margin-left: 10px;
  margin-bottom: 5px;
 list-style: none;
}
.image_list{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 2%;
}


.datos_jugadores ul li{
  margin-top: 1px;
  background: #ccc;
  list-style: none;
  font-size: 19px;
}
#Name_player{
  list-style: square;
  background: #61AAF0;

  }
.datos_jugadores{
  margin-top: 10%;
}

.torneo19 li{
  display: inline-block;
  position: relative;
  font-size: 18px;
  text-align:center;
  padding: 0;
  margin: 0;
}
.torneo19 li a{
  padding: 10px 10px;
  display:inline-block;
  text-decoration: none;
  color: #aaa;
}
.torneo19 li a:hover{
  background: #000;
  color: #fff;
  font-size: 20px;
  border-radius: 5%;
}
article #partido_index{
  font-size: 18px;
}
 form{
  background: none;
  width: 80%;
  border: 2px solid #000;
  margin: 15px;
  padding: 15px;
}
label,input,form p,#boton{
  margin-bottom: 10px;
  font-size:13px;
  display:block;
  width: 90%;
  padding: 10px;
}
#boton_vu{
  text-decoration: none;
  padding: 10px;
  font-weight: 200;
  font-size:18px;
  color: #000;
  background-color: rgba(48, 241, 0, 0.699);
  border-radius: 09%;
  border: 2px solid #26272b;
    outline: none;
}
.vu{
  text-align: right;
  width: 110%;
}
#boton_vu:hover{
  color: #070707;
    background-color: #38cc5d;
    font-size: 20px;

}
input:focus{
  border: 2px solid #000;
}
input[type='button'],#boton{
  background:#1668c4;
  color: #fff;
}
input[type='button']:hover{
  background:#4a88fa;
  cursor: pointer;
}
.resultado_random{
background: #4C94AF;
border-radius: 4%;
}
.formulario, .formulario label, .formulario p{
  background:#53AF4C;
  border-radius: 4%;
  font-size: 17px;
}
.resultado_random label{
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    font-size: 18px;
}
.resultado_random input,#radio_m,#radio_h {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}
#textResultado{
  font-size: 17px;
}
#boton:hover{
  background:#31CD8A;
  cursor: pointer;
  color: #000;
}

.relatos img{
  width: 100%;
  margin-top: 20px;
  border-radius: 5%;
}
.relatos p{
  position: inline;
  padding: 10px;
  background: #ccc;
  font-size: 19px;
}
.relatos strong{
  padding-bottom: 5px;
}
table .nosotros{
  background: #87E343;
}
div .position_table{
  width: 100%;

}
